html {
    width: 100%;
    background: linear-gradient( to bottom right, #06D6A0, #FFD166);
    background-attachment: fixed;
}

body {
    width: 60%;
    margin: 0 auto;
}

h1, img {
    text-align: center;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #48233C;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 7px;
}

td {
    padding: 4px;
}

#main-container {
    background-color: hsla(272, 17, 89, 0.7);
}

#intro {
    text-align: center;
}

#pelican {
    float: right;
    width: 400px;
    margin: 20px;
}